{% extends "base.njk" %}

{% block content %}
    <a href="/logout">Logout</a>
    <a href="add-form">Add a form</a>

    <h1>{{ __('my-forms.title') }}</h1>

    {% for form in forms %}
        {{listForm(form) }}
    {% endfor %}


{% endblock %}
