{% extends "base.njk" %}

{% block content %}
    <div>
        <div>Logged in as {{ user_name }} </div>
        <a href="add-form">Add a form</a> | 
        <a href="/logout">Logout</a>
    </div>

    <h1>{{ __('my-forms.title') }}</h1>

    {% for form in forms %}
        {{listForm(form) }}
    {% endfor %}


{% endblock %}
