{% extends "base.njk" %}

{% block content %}
    <div>
        <div>Logged in as {{ user_name }} </div>
        <a href="my-forms">My forms</a> | 
        <a href="/logout">Logout</a>
    </div>


    <h1>{{ __('add-form.title') }}</h1>

    <div>
        <form method="post">
            {{ textInput('name', 'form.name.desc', {hint: 'form.name.hint', required: true}) }}
            {{ textInput('email', 'form.email.desc', {hint: 'form.email.hint', required: true}) }}
            <div class="toggle-area">
                {{ radioButtons('redirect',  { 'on':'Yes', 'off':'No'}, data.redirect, 'form.redirect', errors, { required: true }) }}
            </div>
            <div class="redirect-toggled hidden" >
                {{ textInput('redirect_url', 'form.redirect_url.desc', {hint: 'form.redirect_url.hint'}) }}
            </div>
            {{ formButtons(submitButtonText = 'Add form', cancelUrl = 'my-forms') }}
        </form>
    </div>

{% endblock %}
