{% extends "base.njk" %}

{% block content %}
    <div>
        <div>Logged in as {{ user_name }} </div>
        <a href="my-forms">My forms</a> | 
        <a href="/logout">Logout</a>
    </div>


    <h1>{{ __('add-form.title') }}</h1>

    <div>
        <form method="post">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            
            {{ textInput('name', 'form.name.desc', {hint: 'form.name.hint', required: true}) }}
            {{ textInput('email', 'form.email.desc', {hint: 'form.email.hint', required: true}) }}
            {{ textInput('redirect_url', 'form.redirect.desc', {hint: 'form.redirect.hint', required: true}) }}
            {{ formButtons(submitButtonText = 'Add form', cancelUrl = 'my-forms') }}
        </form>
    </div>

{% endblock %}
