{% extends "base.njk" %}

{% block content %}

    <h1>{{ __('delete-form.title') }}</h1>

    <div>
        <p>
            {{ __('delete-form.intro') }}
        </p>

        <form method="post">
            {{ textInput('form.firstname', 'form.firstname.desc') }}
            {{ formButtons() }}
        </form>
    </div>

{% endblock %}
