{% extends "base.njk" %}

{% block content %}

    <div>
        <a class="button-link" href="/auth/google" role="button" draggable="false">
            {{ __('login') }}
            <span aria-hidden="true">→</span>
        </a>
    </div>

{% endblock %}
