{% macro listForm(form) %}
    <!-- start list item -->
    <div class="list-item">
        <h2 class="my-1 text-blue">{{form.name}}</h2>
        <div class="my-0 text-lg text-gray-800">
            <div><span class="font-bold">Form ID: </span>{{form.form_id}}</div>
            <div><span class="font-bold">Email:</span> {{form.email}}</div>
            <div><span class="font-bold">Email responses?:</span> 
                {% if form.email_response %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </div>
            <div><span class="font-bold">Redirect:</span> {{form.redirect}}</div>
            {% if form.redirect %}
                <div><span class="font-bold">Redirect URL:</span> {{form.redirect_url}}</div>
            {% endif %}
            <div><span class="font-bold">Confirmed?:</span>                     
                {% if form.confirmed %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </div>
            <div><span class="font-bold">Created at:</span> <span class="date">{{form.created_at}}</span></div>
            <div><a href="delete-form?form_id={{form.form_id}}">Delete form</a></div>
            <div><a href="download-responses?form_id={{form.form_id}}" download>Download responses</a></div>
        </div>
        <hr class="list-item-line my-6" />
    </div>
    <!-- end list item -->
{% endmacro %}