{% macro listForm(form) %}
    <div class="list-item">
        <h2 class="my-1 text-blue">{{form.name}}</h2>
        <div class="my-0 text-lg text-gray-800">
            <div><span class="font-bold">Form ID: </span>{{form.form_id}}</div>
            <div><span class="font-bold">Email:</span> {{form.email}}</div>
            <div><span class="font-bold">Email responses?:</span> 
                {% if form.email_response %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </div>
            <div><span class="font-bold">Redirect:</span> {{form.redirect}}</div>
            {% if form.redirect %}
                <div><span class="font-bold">Redirect URL:</span> {{form.redirect_url}}</div>
            {% endif %}
            <div><span class="font-bold">Confirmed?:</span>                     
                {% if form.confirmed %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </div>
            <div><span class="font-bold">Created at:</span> <span class="date">{{form.created_at}}</span></div>
            <div><a href="download-responses?form_id={{form.form_id}}" download>Download responses</a></div>
            <div><button onclick="deleteForm('{{form.form_id}}', '{{form.name}}')" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Delete form</button>
        </div>
        <hr class="list-item-line my-6" />
    </div>

    <script>
        const deleteForm = (formId, formName) => {
            if (window.confirm(`Delete "${formName}" form?`)) {
                window.open(`delete-form?form_id=${formId}`, "_self");
            } else {
                // Do nothing!
            }
        }
    </script>

{% endmacro %}